@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcom To School Management System</h2>
    <p class="lead"> SMS system inculdes Student Registration, Department , Courses and Studnet Enrollment details</p>
</div>
